
bin/Debug/Touch.vshost.exe
bin/Debug/Touch.vshost.exe.config
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/RenJiCaoZuo.csproj.FileListAbsolute.txt
obj/Debug/RenJiCaoZuo.csprojResolveAssemblyReference.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/Touch_MarkupCompile.i.cache
obj/Debug/Touch_MarkupCompile.i.lref
obj/Debug/View/Introduction.g.i.cs
obj/Debug/View/LoginPassord.g.i.cs
obj/Debug/View/MainPage.g.i.cs
obj/Debug/View/MainWindow.g.i.cs
obj/Debug/View/ModifyPassword.g.i.cs
obj/Debug/View/RollingTextBlock.g.i.cs
obj/Debug/View/SettingWindow.g.i.cs
obj/Debug/View/ShutDownSetting.g.i.cs
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/Res/arrow1.png
bin/Debug/Res/arrow2.png
bin/Debug/Res/bg.png
bin/Debug/Res/bg02.png
bin/Debug/Res/bg03.png
bin/Debug/Res/btn-bg1.png
bin/Debug/Res/btn.png
bin/Debug/Res/btn01.png
bin/Debug/Res/btn02.png
bin/Debug/Res/btn03.png
bin/Debug/Res/btn04.png
bin/Debug/Res/btn_bg.jpg
bin/Debug/Res/code_img.png
bin/Debug/Res/confirm.png
bin/Debug/Res/confirm2.png
bin/Debug/Res/favicon.ico
bin/Debug/Res/FZXKJW.TTF
bin/Debug/Res/img02_bg.png
bin/Debug/Res/img02_bg01.png
bin/Debug/Res/logo.png
bin/Debug/Res/name.png
bin/Debug/Res/news.png
bin/Debug/Res/pop_bg.png
bin/Debug/Res/title.png
bin/Debug/Res/title01.png
bin/Debug/Res/title02.png
bin/Debug/Res/title03.png
bin/Debug/Res/title04.png
bin/Debug/Touch.application
bin/Debug/Touch.exe
bin/Debug/Touch.exe.config
bin/Debug/Touch.exe.manifest
bin/Debug/Touch.pdb
bin/Debug/Touch.vshost.application
bin/Debug/Touch.vshost.exe.manifest
bin/Debug/Xceed.Wpf.Toolkit.dll
bin/Release/Newtonsoft.Json.dll
bin/Release/Newtonsoft.Json.xml
bin/Release/Res/arrow1.png
bin/Release/Res/arrow2.png
bin/Release/Res/bg.png
bin/Release/Res/bg02.png
bin/Release/Res/bg03.png
bin/Release/Res/btn-bg1.png
bin/Release/Res/btn.png
bin/Release/Res/btn01.png
bin/Release/Res/btn02.png
bin/Release/Res/btn03.png
bin/Release/Res/btn04.png
bin/Release/Res/btn_bg.jpg
bin/Release/Res/code_img.png
bin/Release/Res/confirm.png
bin/Release/Res/confirm2.png
bin/Release/Res/favicon.ico
bin/Release/Res/FZXKJW.TTF
bin/Release/Res/img02_bg.png
bin/Release/Res/img02_bg01.png
bin/Release/Res/logo.png
bin/Release/Res/name.png
bin/Release/Res/news.png
bin/Release/Res/pop_bg.png
bin/Release/Res/title.png
bin/Release/Res/title01.png
bin/Release/Res/title02.png
bin/Release/Res/title03.png
bin/Release/Res/title04.png
bin/Release/Touch.application
bin/Release/Touch.exe
bin/Release/Touch.exe.config
bin/Release/Touch.exe.manifest
bin/Release/Touch.pdb
bin/Release/Touch.vshost.application
bin/Release/Touch.vshost.exe
bin/Release/Touch.vshost.exe.config
bin/Release/Touch.vshost.exe.manifest
bin/Release/Xceed.Wpf.Toolkit.dll
obj/Debug/App.baml
obj/Debug/App.g.cs
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/RenJiCaoZuo.csproj.GenerateResource.Cache
obj/Debug/RenJiCaoZuo.Properties.Resources.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Touch.application
obj/Debug/Touch.exe
obj/Debug/Touch.exe.manifest
obj/Debug/Touch.g.resources
obj/Debug/Touch.pdb
obj/Debug/Touch.TrustInfo.xml
obj/Debug/Touch_MarkupCompile.cache
obj/Debug/Touch_MarkupCompile.lref
obj/Debug/View/Introduction.baml
obj/Debug/View/Introduction.g.cs
obj/Debug/View/LoginPassord.baml
obj/Debug/View/LoginPassord.g.cs
obj/Debug/View/MainPage.baml
obj/Debug/View/MainPage.g.cs
obj/Debug/View/MainWindow.baml
obj/Debug/View/MainWindow.g.cs
obj/Debug/View/ModifyPassword.baml
obj/Debug/View/ModifyPassword.g.cs
obj/Debug/View/RollingTextBlock.baml
obj/Debug/View/RollingTextBlock.g.cs
obj/Debug/View/SettingWindow.baml
obj/Debug/View/SettingWindow.g.cs
obj/Debug/View/ShutDownSetting.baml
obj/Debug/View/ShutDownSetting.g.cs
obj/Debug/View/Styles/ButtonStyle.baml
obj/Debug/View/Styles/Font.baml
obj/Debug/View/Styles/ListViewStyle.baml
obj/Debug/View/Styles/PasswordBoxStyle.baml
obj/Release/App.baml
obj/Release/App.g.cs
obj/Release/App.g.i.cs
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/GeneratedInternalTypeHelper.g.cs
obj/Release/GeneratedInternalTypeHelper.g.i.cs
obj/Release/RenJiCaoZuo.csproj.FileListAbsolute.txt
obj/Release/RenJiCaoZuo.csproj.GenerateResource.Cache
obj/Release/RenJiCaoZuo.Properties.Resources.resources
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
obj/Release/Touch.application
obj/Release/Touch.exe
obj/Release/Touch.exe.manifest
obj/Release/Touch.g.resources
obj/Release/Touch.pdb
obj/Release/Touch.TrustInfo.xml
obj/Release/Touch_MarkupCompile.cache
obj/Release/Touch_MarkupCompile.i.cache
obj/Release/Touch_MarkupCompile.i.lref
obj/Release/Touch_MarkupCompile.lref
obj/Release/View/Introduction.baml
obj/Release/View/Introduction.g.cs
obj/Release/View/Introduction.g.i.cs
obj/Release/View/LoginPassord.baml
obj/Release/View/LoginPassord.g.cs
obj/Release/View/LoginPassord.g.i.cs
obj/Release/View/MainPage.baml
obj/Release/View/MainPage.g.cs
obj/Release/View/MainPage.g.i.cs
obj/Release/View/MainWindow.baml
obj/Release/View/MainWindow.g.cs
obj/Release/View/MainWindow.g.i.cs
obj/Release/View/ModifyPassword.baml
obj/Release/View/ModifyPassword.g.cs
obj/Release/View/ModifyPassword.g.i.cs
obj/Release/View/RollingTextBlock.baml
obj/Release/View/RollingTextBlock.g.cs
obj/Release/View/RollingTextBlock.g.i.cs
obj/Release/View/SettingWindow.baml
obj/Release/View/SettingWindow.g.cs
obj/Release/View/SettingWindow.g.i.cs
obj/Release/View/ShutDownSetting.baml
obj/Release/View/ShutDownSetting.g.cs
obj/Release/View/ShutDownSetting.g.i.cs
obj/Release/View/Styles/ButtonStyle.baml
obj/Release/View/Styles/Font.baml
obj/Release/View/Styles/ListViewStyle.baml
obj/Release/View/Styles/PasswordBoxStyle.baml
