<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!--1:法师信息画面，2：活动信息画面--><!--
    <add key="FirstPageName" value="2"/>
    <add key="domino" value="temple.reeing.com"/>
    <add key="port" value="8080"/>
    <add key="url" value="/temple/a/pc/access"/>
    --><!--寺庙信息--><!--
    <add key="TempleInfo_Interface" value="templeInfo"/>
    <add key="Interface_Param" value="templeId"/>
    <add key="Interface_id" value="2017fcc6719348e4a2b39e37724ca0d9"/>
    --><!--<add key="Interface_id" value="61ccf194f2b24e1a8a17d5a70251d589"/>--><!--
    --><!--大师信息--><!--
    <add key="MonkInfo_Interface" value="monkInfo"/>
    --><!--寺庙活动信息--><!--
    <add key="ActivityInfo_Interface" value="activityInfo"/>
    --><!--寺庙活动详细--><!--
    <add key="getActivityById_Interface" value="getactivityInfo"/>
    --><!--二维码--><!--
    <add key="qRCodeInfo_Interface" value="qRCodeInfo"/>
    --><!--寺庙布施记录--><!--
    <add key="TemplePayHistory_Interface" value="templePayHistory"/>
    --><!--大殿布施记录--><!--
    <add key="housePayHistory_Interface" value="housePayHistory"/>
    <add key="housePayHistory_Param" value="houseId"/>
    <add key="housePayHistory_id" value="7bbd307a988645cca11ae2becc223e29"/>
    --><!--大殿布施记录--><!--
    <add key="PageRefreshTime" value="4"/>
    --><!--系统配置--><!--
    <add key="ShutDownTime" value="23:50"/>
    <add key="DefaultShutDownTime" value="20:30"/>
    <add key="Password" value="123456"/>
    <add key="VersionNo" value="1.0.0.0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>-->

    <add key="LinkMod" value="https://" />
    <add key="FirstPageName" value="3" />
    <add key="domino" value="temple.reeing.com" />
    <add key="port" value="8443" />
    <add key="url" value="/temple/a/pc/access" />
    <add key="TempleInfo_Interface" value="templeInfo" />
    <add key="Interface_Param" value="templeId" />
    <add key="Interface_id" value="c7b7f445093b4e1dad0bf7dab1c1d75e" />
    <add key="MonkInfo_Interface" value="monkInfo" />
    <add key="ActivityInfo_Interface" value="activityInfo" />
    <add key="getActivityById_Interface" value="getactivityInfo" />
    <add key="qRCodeInfo_Interface" value="qRCodeInfo" />
    <add key="TemplePayHistory_Interface" value="templePayHistory" />
    <add key="housePayHistory_Interface" value="housePayHistory" />
    <add key="housePayHistory_Param" value="houseId" />
    <add key="housePayHistory_id" value="dafa3399ca864befb2cf517760fe7a06" />
    <add key="PageRefreshTime" value="5" />
    <add key="ShutDownTime" value="05:50" />
    <add key="DefaultShutDownTime" value="20:30" />
    <add key="Password" value="123456" />
    <add key="VersionNo" value="1.0.0.0" />
    <add key="UpdateLink" value="http://localhost:280/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Video_Path" value="D:\GitClone\DongHuashi\Video\MVI_7073.mp4" />
    <add key="Video_Play_Mode" value="Fill" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
